{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_style %}
<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block brand %}
    {% for post in posts %}
        {{ post.brand }}
    {% endfor %}
{% endblock %}
{% block Showroom %}
<h6 class="collapse-header">Inventory:</h6>
<a class="collapse-item" href="{% url 'stocks' %}">Stocks</a>
<a class="collapse-item" href="{% url 'customer' %}">Customer</a>
<a class="collapse-item" href="#">Accessaries</a>
<a class="collapse-item" href="#">Marchendize</a>
<h6 class="collapse-header">Sales:</h6>
<a class="collapse-item" href="{% url 'billings_process' %}">Billing Details</a>
{% endblock %}
{% block repair %}
<h6 class="collapse-header">Repair & Servicing:</h6>
<a class="collapse-item" href="#">Service Details</a>
{% endblock %}
{% block admin %}
<a class="collapse-item" href="{% url 'update_inventory' %}">Update Inventory Stocks</a>
<a class="collapse-item" href="{% url 'update_product' %}">Update Products</a>
<div class="collapse-divider"></div>
{% endblock %}
{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Billing Desk</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <!-- Collapsable Card Example -->
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Generate Invoice quote</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        <form action="{% url 'billings_process' %}" method="post" target="_blank">
                            {% csrf_token %}
                            <div class="row">
                                {{ form.as_p }}
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                Generate quote
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Generate Final Invoice </h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        <form action="{% url 'generate_Invoice' %}" method="post" target="_blank">
                            {% csrf_token %}
                            <div class="row">
                                {{ form2|crispy }}
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                Generate Invioce
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Sales Pending for Billing</h6>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Invoice ID</td>
                            <td>Make and Model</td>
                            <td>S/N</td>
                            <td>Chassis Number</td>
                            <td>Engine Number</td>
                            <td>Battery Number</td>
                            <td>Key Number</td>
                            <td>Name</td>
                            <td>Customer ID</td>
                            <td>Address</td>
                            <td>Contact</td>
                            <td>Sales Person</td>
                            <td>Date</td>
                            <td>Payment Refereance</td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>Invoice ID</td>
                            <td>Make and Model</td>
                            <td>S/N</td>
                            <td>Chassis Number</td>
                            <td>Engine Number</td>
                            <td>Battery Number</td>
                            <td>Key Number</td>
                            <td>Name</td>
                            <td>Customer ID</td>
                            <td>Address</td>
                            <td>Contact</td>
                            <td>Sales Person</td>
                            <td>Date</td>
                            <td>Payment Refereance</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for post in context_data %}
                        <tr>
                            <td>{{ post.Invoice_number }}</td>
                            <td>{{ post.Make_and_model }}</td>
                            <td>{{ post.Serial_number }}</td>
                            <td>{{ post.Chasis_number }}</td>
                            <td>{{ post.Engine_number }}</td>
                            <td>{{ post.Battery_number }}</td>
                            <td>{{ post.Key_number }}</td>
                            <td>{{ post.Customer_name }}</td>
                            <td>{{ post.Customer_id }}</td>
                            <td>{{ post.customer_address }}</td>
                            <td>{{ post.cust_contact }}</td>
                            <td>{{ post.Sales_agent }}</td>
                            <td>{{ post.Date_of_sale }}</td>
                            <td>{{ post.Payment_reference_no }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
    </div>
{% endblock %}


{% block page_level_plugins_style %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}