{% extends 'frontend/base.html' %}
{% load static %}
{% block page_style %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block brand %}
    {% for post in posts %}
        {{ post.brand }}
    {% endfor %}
{% endblock %}
{% block Showroom %}
<h6 class="collapse-header">Inventory:</h6>
<a class="collapse-item" href="{% url 'stocks' %}">Stocks</a>
<a class="collapse-item" href="{% url 'customer' %}">Customer</a>
<a class="collapse-item" href="#">Accessaries</a>
<a class="collapse-item" href="#">Marchendize</a>
<h6 class="collapse-header">Sales:</h6>
<a class="collapse-item" href="{% url 'billings_process' %}">Billing Details</a>
{% endblock %}
{% block repair %}
<h6 class="collapse-header">Repair & Servicing:</h6>
<a class="collapse-item" href="#">Service Details</a>
{% endblock %}
{% block admin %}
<a class="collapse-item" href="#">Add Staff</a>
<a class="collapse-item" href="#">Delete staff</a>
<a class="collapse-item" href="#">Register staff</a>
<a class="collapse-item" href="{% url 'update_inventory' %}">Update Inventory Stocks</a>
<a class="collapse-item" href="{% url 'update_product' %}">Update Products</a>
<div class="collapse-divider"></div>
<!-- <h6 class="collapse-header">Other Pages:</h6>
<a class="collapse-item" href="404.html">404 Page</a>
<a class="collapse-item" href="blank.html">Blank Page</a> -->
{% endblock %}
{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Customer Registration Page</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Register New Customer</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                {% if messages %}
                        {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">{{ form.as_p }}
                        <button class="btn btn-primary btn-user btn-block" type="submit">
                        Register Customer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Current Customer list to be Billed</h6>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Email ID</td>
                            <td>Contact No.</td>
                            <td>Address</td>
                            <td>Identification</td>
                            <td>Id Number</td>
                            <td>Payment Mode</td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>Name</td>
                            <td>Email ID</td>
                            <td>Contact No.</td>
                            <td>Address</td>
                            <td>Identification</td>
                            <td>Id Number</td>
                            <td>Payment Mode</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for post in context_data %}
                        <tr>
                            <td>{{ post.Name }}</td>
                            <td>{{ post.Email }}</td>
                            <td>{{ post.Contact }}</td>
                            <td>{{ post.Address }}</td>
                            <td>{{ post.Identification }}</td>
                            <td>{{ post.ID_number }}</td>
                            <td>{{ post.Payment_mode }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
    </div>
</div>
{% endblock %}


{% block page_level_plugins_style %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}