{% extends 'frontend/base.html' %}
{% load static %}
{% block brand %}
    {% for post in posts %}
        {{ post.brand }}
    {% endfor %}
{% endblock %}
{% block Showroom %}
<h6 class="collapse-header">Inventory:</h6>
<a class="collapse-item" href="{% url 'stocks' %}">Stocks</a>
<a class="collapse-item" href="{% url 'customer' %}">Customer</a>
<a class="collapse-item" href="#">Accessaries</a>
<a class="collapse-item" href="#">Marchendize</a>
<h6 class="collapse-header">Sales:</h6>
<a class="collapse-item" href="{% url 'billings_process' %}">Billing Details</a>
{% endblock %}
{% block repair %}
<h6 class="collapse-header">Repair & Servicing:</h6>
<a class="collapse-item" href="#">Service Details</a>
{% endblock %}
{% block admin %}
<a class="collapse-item" href="{% url 'update_inventory' %}">Inventory Stocks</a>
<a class="collapse-item" href="{% url 'update_product' %}">Update Products</a>
<div class="collapse-divider"></div>
<!-- <h6 class="collapse-header">Other Pages:</h6>
<a class="collapse-item" href="404.html">404 Page</a>
<a class="collapse-item" href="blank.html">Blank Page</a> -->
{% endblock %}

{% block body %}
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Password reset completed successful !!</h1>
                                        <p class="mb-4">Your password has been set. You can now Login</p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#"></a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">Login!</a>
                                    </div>
                                </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block page_level_plugins_style %}
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
{% endblock %}