{% extends 'frontend/base.html' %}
{% load static %}
{% block page_style %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block brand %}
    {% for post in posts %}
        {{ post.brand }}
    {% endfor %}
{% endblock %}
{% block Showroom %}
<h6 class="collapse-header">Inventory:</h6>
<a class="collapse-item" href="#">Stocks</a>
<a class="collapse-item" href="#">Accessaries</a>
<a class="collapse-item" href="#">Marchendize</a>
<h6 class="collapse-header">Sales:</h6>
<a class="collapse-item" href="{% url 'billings_process' %}">Billing Details</a>
{% endblock %}
{% block repair %}
<h6 class="collapse-header">Repair & Servicing:</h6>
<a class="collapse-item" href="#">Service Details</a>
{% endblock %}
{% block admin %}
<a class="collapse-item" href="{% url 'update_inventory' %}">Update Inventory Stocks</a>
<a class="collapse-item" href="{% url 'update_product' %}">Update Products</a>
<div class="collapse-divider"></div>
<!-- <h6 class="collapse-header">Other Pages:</h6>
<a class="collapse-item" href="404.html">404 Page</a>
<a class="collapse-item" href="blank.html">Blank Page</a> -->
{% endblock %}
{% block body %}
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Stocks</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <div class="row">
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Update Stock Type</h6>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post">
                    {% csrf_token %}
                    <div class="row">{{ update_stock.as_p }}</div>
                        <button class="btn btn-primary btn-user btn-block" type="submit" name="update_stock">Submit</button>
                    </form>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Update Stock Type</h6>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post">
                    {% csrf_token %}
                    <div class="row">{{ update_stock.as_p }}</div>
                        <button class="btn btn-primary btn-user btn-block" type="submit" name="delete_stock">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Update Stock Type</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Product Description</th>
                                    <th>Product Status</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Product Description</th>
                                    <th>Product Status</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for post in post_data %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.name }}</td>
                                    <td>{{ post.model_type }}</td>
                                    <td>{{ post.status }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
{% endblock %}


{% block page_level_plugins_style %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock %}